@model IEnumerable<BlogSite.Models.BlogPost>

<h1>Blog Posts</h1>

<a href="/Blog/Create">Create New Post</a>

<ul>
    @foreach (var post in Model)
    {
        <li>
            <h2>@post.Title</h2>
            <p>@post.Content</p>
            <small>@post.CreatedAt.ToString("g")</small>
        </li>
    }
</ul>
